h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    text-align: center;
    font-weight: 400;
}
h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    text-align: center;
    font-weight: 250;
}
.colourBox 
{
    background-color: #477bff;
    color: white;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #aaf;
    color: #212529;
    text-align: center;
}
nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}
main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
button
{
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;