{% extends "layout.html" %}

{% block title %}
    Create Event
{% endblock %}

{% block main %}
<p></p>
	<div class="colourBox">
		<h1>Create Event</h1>
	</div>
<table style="width: 700px; height: 100px; margin-left: auto; margin-right: auto;" border="0">
	<thead col=2>
	</thead>
	<form action="/createEvent" method="post">
	<tbody>
		<tr style="height: 34px;">
<td style="text-align: right; height: 34px;">Enter Event Name</td>
<td style="height: 34px;"><input class="form-control" autocomplete="off" name="event name" type="text" /></td>
<td style="text-align: right; height: 34px;">Enter Location</td>
<td style="height: 34px;"><input class="form-control" autocomplete="off" name="location" type="text" /></td>
</tr>
<tr style="height: 35px;">
<td style="text-align: right; height: 35px;">Organiser Email</td>
<td style="height: 35px;"><input class="form-control" name="organiser email" type="text" /></td>
<td style="text-align: right; height: 35px;">Save Name for Event</td>
<td style="height: 35px;"><input class="form-control" name="save name" type="text" /></td>
</tr>
<tr style="height: 13.2px;">
<td style="text-align: right; height: 13.2px;">Pre-Event Start Date&nbsp;</td>
<td style="height: 13.2px;"><input name="pre-event start" type="text" />Form: dd/mm/yy</td>
<td style="height: 13.2px;">Pre-Event End Date</td>
<td style="height: 13.2px;"><input name="pre-event end" type="text" />Form: dd/mm/yy</td>
</tr>
<tr style="height: 13.2px;">
<td style="text-align: right; height: 13.2px;">During-Event Start Date</td>
<td style="height: 13.2px;"><input name="during-event start" type="text" />Form: dd/mm/yy</td>
<td style="height: 13.2px;">During-Event End Date</td>
<td style="height: 13.2px;"><input name="during-event end" type="text" />Form: dd/mm/yy</td>
</tr>
<tr style="height: 13.2px;">
<td style="text-align: right; height: 13.2px;">Post-Event Start Date</td>
<td style="height: 13.2px;"><input name="post-event start" type="text" />Form: dd/mm/yy</td>
<td style="height: 13.2px;">Post-Event End Date</td>
<td style="height: 13.2px;"><input name="post-event end" type="text" />Form: dd/mm/yy</td>
</tr>
<tr style="height: 13.2px;">
<td style="text-align: right; height: 13.2px;">Notepad (Can be left blank for now)</td>
<td style="height: 13.2px;" colspan="3"><textarea cols="60" name="notepad" rows="8"></textarea></td>
</tr>
<tr style="height: 17px;">
<td style="text-align: center; height: 17px;" colspan="4"><button class="btn btn-primary" type="submit">Save</button></td>
</tr>
	</tbody>
	</form>
</table>
{% endblock %}